/* header */

.header-content {
  padding: 3rem 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content .input-area {
  display: flex;
  width: 52rem;
  position: relative;
  border-radius: 3rem;
  background-color: #f6f6f6;
  padding: 0 6.4rem 0 2.2rem;
}
.header-content .input-area input {
  border: none;
  height: 4.4rem;
  width: 100%;
  border-radius: 3rem;
  background-color: #f6f6f6;
  padding: 0 6.4rem 0 2.2rem;
}
.header-content .input-area .search-btn {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.header-content .icon-area {
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
}
.header-content .icon-area .login-icon {
  margin-left: 2.4rem;
}
.header-content .icon-area .bag-icon {
  margin-left: 2.4rem;
}

/* nav */

/* nav {
  padding: 0 5rem;
} */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 163.2rem;
  min-width: 112rem;
  margin: 0 auto;
  margin-top: 2.4rem;
  padding: 0 5rem;
}
.nav-content .brand-area {
  display: flex;
  font-weight: 700;
  font-size: 1.8rem;
  color: #333;
  line-height: 2.2rem;
  padding-bottom: 2.4rem;
}
.nav-content .brand-area .brand {
  position: relative;
}
.nav-content .brand-area .brand a {
  padding-right: 1.5rem;
}
.nav-content .brand-area .brand a::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 2px;
  bottom: auto;
  left: auto;
  width: 7px;
  height: 7px;
  border-right: 2px solid #111;
  border-bottom: 2px solid #111;
  transform: rotate(45deg);
  transition: 0.3s;
}
.nav-content .brand-area .brand-item {
  display: flex;
}
.nav-content .brand-area .brand-item li {
  margin-left: 2.4rem;
}
.nav-content .brand-info {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #888;
  padding-bottom: 2.4rem;
}
.nav-content .brand-info li {
  margin-left: 2.4rem;
}

/* main-wrap */
main .main-wrap {
  margin-top: 0;
  margin-bottom: 12rem;
  
  margin: 0 auto;
  
}
/* main-img */
.main-img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 5rem;
  
}

/* main-content */
.main-content {
  margin-top: 12rem;
  padding: 0 5rem;
  
}
.main-content .content-head {
  margin-bottom: 2.4rem;
}
.main-content .content-head h1 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
.main-content .best-content {
  display: flex;
}
.main-content .best-content .main-best {
  width: 31.3rem;
  position: relative;
  margin-right: 0.8rem;
}
.main-content .best-content .main-best img {
  width: 100%;
  height: 52rem;
  object-fit: cover;
}
.main-content .best-content .main-best .main-best-txt {
  position: absolute;
  color: #fff;
  left: 2.4rem;
  bottom: 2.4rem;
  width: calc(100% - 48px);
}
.main-content .best-content .main-best .main-best-txt p:nth-of-type(1) {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
}
.main-content .best-content .main-best .main-best-txt p:nth-of-type(2) {
  padding-top: 0.9rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}
.main-content .best-content .item-wrap {
  display: flex;
  width: calc(100% - 31.3rem);
  overflow: hidden;
  margin-left: 0.8rem;
}
.main-content .best-content .item-wrap .item-1 {
  width: 18.575rem;
  margin-right: 1.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-content .best-content .item-wrap .item-1 .item-area {
  position: relative;
  overflow: hidden;
  height: 18.575rem
}
  
.main-content .best-content .item-wrap .item-1 .item-area img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s;
}

.main-content .best-content .item-wrap .item-1 span {
  position: absolute;
  top: 1.6rem;
  left: 2rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #111;
}
.main-content .best-content .item-wrap .item-1 .item-content {
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-content .best-content .item-wrap .item-1 .item-content .millet {
  display: flex;
  justify-content: space-between;
}
.main-content .best-content .item-wrap .item-1 .item-content .millet p {
  margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #888;
    
}
.main-content .best-content .item-wrap .item-1 .item-content .item-info {
  margin-top: 0.8rem;
  position: relative;;
  
}
.main-content .best-content .item-wrap .item-1 .item-content .item-info .name {
  font-size: 1.5rem;
  line-height: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
}
.main-content .best-content .item-wrap .item-1 .item-content .item-info .price-area {
  
  display: flex;
  color: #111;
  word-break: keep-all;
  overflow-wrap: break-word;
  
}
.main-content .best-content .item-wrap .item-1 .item-content .item-info .price-area .price {
  font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 1.4rem;
    
}
.main-content .best-content .item-wrap .item-1 .item-content .item-info .badge-content {
  height: 3rem;
  padding-top: 0.2rem;
  color: #111;
    word-break: keep-all;
    overflow-wrap: break-word;
    position: relative;
    
}
.main-content .best-content .item-wrap .item-1 .item-content .item-info .badge-content span {
  padding: 0 6px;
    font-size: 13px;
    line-height: 20px;
    color: #888;
    border-radius: 3px;
    background-color: #f6f6f6;
    position: absolute;
    
    margin: 8px 8px 0 0;
    top: 0;
    left: 0;
} 
/* main-content2 */

.main-content-2 {
  margin-top: 12rem;
  display: flex;
  padding: 0 5rem;
}
.main-content-2 .season-area {
  width: 50%;
  padding: 0 0.8rem;
}
.main-content-2 .season-area img {
  height: 55rem;
  object-fit: cover;
}
.main-content-2 .season-area .cate {
  padding-top: 2.1rem;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
}
.main-content-2 .season-area .text {
  margin-top: 1rem;
  font-size: 2.8rem;
  line-height: 3.4rem;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
}
/* new-item-content */
.new-item-content {
  margin-top: 12rem;
  padding: 0 5rem;
  
}
.new-item-content .content-head {
  margin-bottom: 2.4rem;
}
.new-item-content .content-head h1 {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
.new-item-content .new-item-tabs {
  padding-top: 0.2rem;
}
.new-item-content .new-item-tabs a:nth-of-type(1) {
  margin-left: 0;
}
.new-item-content .new-item-tabs a {
  font-size: 1.8rem;
  padding-bottom: 0.3rem;
  line-height: 2.2rem;
      font-weight: 700;
    color: #111;
    margin-left: 2.4rem;
}
.new-item-content .best-content {
  display: flex;
  margin: 0 -0.8rem;
  margin-top: 2.4rem;
}
.new-item-content .best-content .main-best {
  width: 31.3rem;
  position: relative;
  margin-right: 0.8rem;
}
.new-item-content .best-content .main-best img {
  width: 100%;
  height: 52rem;
  object-fit: cover;
}
.new-item-content .best-content .main-best .main-best-txt {
  position: absolute;
  color: #fff;
  left: 2.4rem;
  bottom: 2.4rem;
  width: calc(100% - 48px);
}
.new-item-content .best-content .main-best .main-best-txt p:nth-of-type(1) {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
}
.new-item-content .best-content .main-best .main-best-txt p:nth-of-type(2) {
  padding-top: 0.9rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
}
.new-item-content .best-content .item-wrap-area {
  width: calc(100% - 31.3rem);
  overflow: hidden;
}
.new-item-content .best-content .item-wrap-area .item-wrap-w {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.new-item-content .best-content .item-wrap {
  display: flex;
  
  margin-left: 0.8rem;
}
.new-item-content .best-content .item-wrap .item-1 {
  width: 18.575rem;
  margin-right: 1.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.new-item-content .best-content .item-wrap .item-1 .item-area {
  position: relative;
  overflow: hidden;
  height: 18.575rem
}
  
.new-item-content .best-content .item-wrap .item-1 .item-area img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s;
}

.new-item-content .best-content .item-wrap .item-1 span {
  position: absolute;
  top: 1.6rem;
  left: 2rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #111;
}
.new-item-content .best-content .item-wrap .item-1 .item-content {
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.new-item-content .best-content .item-wrap .item-1 .item-content .millet {
  display: flex;
  justify-content: space-between;
}
.new-item-content .best-content .item-wrap .item-1 .item-content .millet p {
  margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #888;
    
}
.new-item-content .best-content .item-wrap .item-1 .item-content .item-info {
  margin-top: 0.8rem;
  position: relative;;
  
}
.new-item-content .best-content .item-wrap .item-1 .item-content .item-info .name {
  font-size: 1.5rem;
  line-height: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-item-content .best-content .item-wrap .item-1 .item-content .item-info .price-area {
  
  display: flex;
  color: #111;
  word-break: keep-all;
  overflow-wrap: break-word;
  
}
.new-item-content .best-content .item-wrap .item-1 .item-content .item-info .price-area .price {
  font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 1.4rem;
    
}
.new-item-content .best-content .item-wrap .item-1 .item-content .item-info .badge-content {
  height: 3rem;
  padding-top: 0.2rem;
  color: #111;
    word-break: keep-all;
    overflow-wrap: break-word;
    position: relative;
    
}
.new-item-content .best-content .item-wrap .item-1 .item-content .item-info .badge-content span {
  padding: 0 6px;
    font-size: 13px;
    line-height: 20px;
    color: #888;
    border-radius: 3px;
    background-color: #f6f6f6;
    position: absolute;
    
    margin: 8px 8px 0 0;
    top: 0;
    left: 0;
} 
/* main-vid-content */
.main-vid-content {
  margin-top: 12rem;
  padding: 0 5rem;
}
.main-vid-content .vid-area {
  width: 100%;
  height: 100%;
}
.main-vid-content video {
      height: 640px;
    object-fit: cover;
}
/* today-content */
.today-content {
  margin-top: 12rem;
  padding: 0 5rem;
  
}
.today-content .content-head {
  margin-bottom: 2.4rem;
}
.today-content .content-head h1 {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
.today-content .best-content {
  display: flex;
}

.today-content .best-content .item-wrap {
  display: flex;
  width: 100%;
  overflow: hidden;
  
}
.today-content .best-content .item-wrap .item-1 {
  width: 21.12rem;
  margin-right: 1.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.today-content .best-content .item-wrap .item-1 .item-area {
  position: relative;
  overflow: hidden;
  height: 18.575rem
}
  
.today-content .best-content .item-wrap .item-1 .item-area img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s;
}

.today-content .best-content .item-wrap .item-1 span {
  position: absolute;
  top: 1.6rem;
  left: 2rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #111;
}
.today-content .best-content .item-wrap .item-1 .item-content {
  margin-top: 2.1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.today-content .best-content .item-wrap .item-1 .item-content .millet {
  display: flex;
  justify-content: space-between;
}
.today-content .best-content .item-wrap .item-1 .item-content .millet p {
  margin-right: 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #888;
    
}
.today-content .best-content .item-wrap .item-1 .item-content .item-info {
  margin-top: 0.8rem;
  position: relative;;
  
}
.today-content .best-content .item-wrap .item-1 .item-content .item-info .name {
  font-size: 1.5rem;
  line-height: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.today-content .best-content .item-wrap .item-1 .item-content .item-info .price-area {
  
  display: flex;
  color: #111;
  word-break: keep-all;
  overflow-wrap: break-word;
  
}
.today-content .best-content .item-wrap .item-1 .item-content .item-info .price-area .price {
  font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 1.4rem;
    
}
.today-content .best-content .item-wrap .item-1 .item-content .item-info .badge-content {
  height: 3rem;
  padding-top: 0.2rem;
  color: #111;
    word-break: keep-all;
    overflow-wrap: break-word;
    position: relative;
    
}
.today-content .best-content .item-wrap .item-1 .item-content .item-info .badge-content span {
  padding: 0 6px;
    font-size: 13px;
    line-height: 20px;
    color: #888;
    border-radius: 3px;
    background-color: #f6f6f6;
    position: absolute;
    
    margin: 8px 8px 0 0;
    top: 0;
    left: 0;
} 
/* mountain-content */
.mountain-content {
  margin-top: 12rem;
  margin-bottom: 12rem;
  padding: 0 5rem;
  
}
.mountain-content .content-head {
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
}
.mountain-content .content-head h1 {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: 4.4rem;
}
.mountain-content .content-head span {
  margin-left: 2rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #888;
}
.mountain-content .img-wrap {
  margin: 0 -0.8rem;
  display: flex;
}
.mountain-content .img-wrap .img-container {
  width: 20%;
  padding: 0 0.8rem;
}
.mountain-content .img-wrap .img-area {
  
  position: relative;
}
.mountain-content .img-wrap .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.mountain-content .img-wrap .img-area img:hover {
  transform: scale(1);
  transition: 0.3s;
}
.mountain-content .img-wrap .img-area::after {
  content: '';
  display: block;
  padding-bottom: 100%;
  
}

/* footer */

footer {
  width: 100%;
  height: 38.5rem;
  padding: 6rem 12.6rem 0 5rem;
  background: #f6f6f6;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  color: #888;
}
.footer-content .info-area .millet-info {
  padding-top: 4rem;
}
.footer-content .info-area .millet-info .adress span {
  position: relative;
  margin-left: 9px;
  padding-left: 10px;
}
.footer-content .info-area .millet-info .adress span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  border-left: 1px solid #c4c4c4;

  transform: translateY(-50%);
}
.footer-content .info-area .millet-info .business-number {
  margin-left: 1rem;
  text-decoration: underline;
}
.footer-content .info-area .millet-info .mail span:nth-of-type(2) {
  margin-left: 9px;
  padding-left: 10px;
  position: relative;
}
.footer-content .info-area .millet-info .mail span:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  border-left: 1px solid #c4c4c4;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer-content .use-list ul:nth-of-type(1) {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
}
.footer-content .use-list ul:nth-of-type(1) li:nth-of-type(2) {
  margin-top: 0.7rem;
}
.footer-content .use-list ul:nth-of-type(2) {
  margin-top: 2.7rem;
}
.footer-content .use-list ul:nth-of-type(2) li:nth-of-type(2) {
  margin-top: 0.7rem;
}
.footer-content .inquiry-area .phone-area p:nth-of-type(1) {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
}
.footer-content .inquiry-area .phone-area p:nth-of-type(2) {
  padding-top: 0.4rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
}
.footer-content .inquiry-area .time-area {
  margin-top: 1.4rem;
  font-size: 1.4rem;
  line-height: 2rem;
}
.copy-right {
  display: flex;
  justify-content: space-between;
  margin-top: 5.7rem;
}
.copy-right .icon-area {
  display: flex;
  gap: 1.6rem;
}
.copy-right .icon-area img {
  width: 2.4rem;
  height: 2.4rem;
}
.copy-right span {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #888;
}
